@charset "utf-8";
body {
   	background-color: white;
    text-align: center;
    min-width: 900px;
    font-family: "游明朝 Demibold";
}

header {
    background-color: rgb(31, 70, 31); /* (背景 単色ver) */
    /* (背景 グラデver) 
    background: -webkit-linear-gradient(to right, rgb(0, 64, 0), rgb(0, 64, 64));
    background: linear-gradient(to right, rgb(31, 70, 31), #c7fcc0);
    */
    color:aliceblue;
    padding-top: 5px;
    padding-bottom: 5px;
}



header a {
    color:white;
}

header h1 {
    font-size: 20pt;
    margin: 10px auto;
}

main {
    background-color: white;
    min-height: 50px;
    padding: 20px;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid rgb(124, 122, 122)
}

table {
    margin: 5px auto;
    min-width:800px;
}

table th {
    background: rgb(44, 129, 66);
    color: white;
}

.link {
	text-align: right;
    padding: 0px 200px 0px 0px;
}

ul {
  list-style-type: none;
}

button {
    background-color: #4CAF50;
    border: #4CAF50;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(38, 130, 58);
}
/**ここから送料無料ボタン*/
.btn,
a.btn,
button.btn {
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;/*吹き出し下の緑の領域*/
  text-decoration: none;/*購入続けるボタンをボタンっぽくするためにリンクの下線を消す*/
  letter-spacing: 0.1em;/*文字のちょっとしたサイズ調整*/

}

.btn-wrap {
  margin: 15px 0;/*購入を続けるボタン周辺余白*/
}

a.btn-c {
  padding: 1mm 1rem 1rem 2rem;/*購入続けるボタンサイズ調整*/
  color: #fff;/*購入を続ける文字色*/
  background: #4CAF50;/*その背景色*/
}

a.btn-c span {
  font-size: 70%;/*吹き出し内の文字フォントサイズ*/

  position: absolute;
  top: -0.3rem;/*吹き出し縦位置*/
  left: calc(89% - 150px);/*吹き出し横位置*/

  display: block;

  width: 170px;/*吹き出し大きさ*/
  padding: 0.2rem 0;/*吹き出し立幅*/

  color: rgb(0, 0, 0);/*吹き出し内文字色*/
  border: 2px solid rgb(46, 105, 50);/*吹き出しフチ色*/
  border-radius: 100vh;/*吹き出しをカーブにしている部分（ないと四角になる）*/
  background: rgb(255, 255, 255);/*吹き出し背景色*/
}

a.btn-c span:before,
a.btn-c span:after {/*beforeはみどり▽アフターは白▽*/
  position: absolute;/*吹き出しの▽の位置１*/
  left: calc(50% - 10px);/*吹き出しの▽の位置２*/
  content: "";/*吹き出しの▽の存在証明*/
}

a.btn-c span:before {
  bottom: -10px;

  border-width: 10px 10px 0 10px;/*三角の位置（みどり）*/
  border-style: solid;/*存在証明*/
  border-color: rgb(46, 105, 50) transparent transparent transparent;/*三角の色（みどり）*/
}

a.btn-c span:after {
  bottom: -7px;

  border-width: 10px 10px 0 10px;/*三角の位置（みどり）*/
  border-style: solid;/*存在証明*/
  border-color: #fff transparent transparent transparent;/*三角の色（白）*/
}

a.btn-c i {
  margin-right: 0.5rem;/*購入を続けるボタンの横幅サイズ調整*/
}

a.btn-c:hover {
	background-color: rgb(38, 130, 58);/*カーソル重ねた時の色*/
}

/*ファンクションボタン*/
.btn-menu{
  position:relative;/*線の基点とするためrelativeを指定*/
  color:rgb(0, 0, 0);/*リンクの形状*/
  padding: 10px 50px 10px 30px;
  display:inline-block;
  text-decoration: none;
  outline: none;
}

/*線の設定*/
.btn-menu::before,
.btn-menu::after{
  content:'';
  position:absolute;/*絶対配置で線の位置を決める*/
  z-index:1;
  bottom:0;
  left:0;
     /*線の形状*/   
  background:rgb(192, 192, 192);
  width:100%;
  height:2px;
    /*アニメーションの指定*/
  transition:all 0.3s ease-in-out;
}

 /*hover時に伸びる線の形状*/   
.btn-menu::after{
  width:0;
  background:rgb(46, 105, 50);
}

 /*hover時に100%に伸びる*/   
.btn-menu:hover::after {
  width:100%;
}

 /*矢印の設定*/   
.btn-menu span::after {
    content: '';
    /*絶対配置で矢印の位置を決める*/
    position: absolute;
    top: 1.3em;
    right: 20px;
    /*矢印の形状*/   
    width: 5px;
    height: 5px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    transform: rotate(45deg);
    /*アニメーションの指定*/
    transition: all .3s;
}

/*hover時に矢印が移動*/   
.btn-menu:hover span::after {
  right:15px;
}
/*フッターのリンク*/
/*片山の遊び場*/
.noline {
  color: #999;/*フッターの文字の色*/
  text-decoration: none;
  text-align: left;
}
/*
ul {
  list-style: none;
  padding: 0;
}*/

.footer {
  padding: 2rem;
  font-size: 18px;
  color: #999;
  background: #fff;
  border-top: 1px solid #e5e7eb;
}

.footer a:hover {
  color: #000;
}

@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
  }

  .md-flex {
    display: flex;
  }

  .md-flex li + li {
    margin-left: 16px;
  }
}
