<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>カート画面</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header>
        <h1><a href="/function">教科書販売サイト</a></h1>
        <p>片山大樹さんがログイン中</p>
    </header>
    <main>
    <h1>カート画面</h1>
    <table border="1">
        <tr>
            <th>教科書名</th>
            <th>価格</th>
            <th>数量</th>
            <th>削除</th>
        </tr>
        <tr>
            <td th:text="${item.name}"></td>
            <td th:text="${item.price}"></td>
            <td th:text="${item.quantity}"></td>
            <td>
				<form action="/cart/delete" method="post">
				<input type="hidden" name="itemId" th:value="${item.id}">
                <button>削除</button>
                </form>
            </td>
        </tr>
        <tr>
            <td align="right" colspan="5" th:text="'合計額：'+${@cart.totalPrice}"></td>
        </tr>
    </table>
    <form action="/order" method="get">
    <button>注文する</button>
    </form>
</main>
    
</body>
</html>