<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>カート画面</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<header th:replace="header"></header>
	<main>
		<span th:text="${error}" style="color: red"></span>
		<table border="1">
			<tr>
				<th>教科書名</th>
				<th>価格</th>
				<th>数量</th>
				<th>削除</th>
			</tr>
			<tr th:each="item:${@cart.itemList}">
				<td th:text="${item.name}"></td>
				<td th:text="${item.price}"></td>
				<td th:text="${item.quantity}"></td>
				<td>
					<form action="/cart/delete" method="post">
						<input type="hidden" name="itemId" th:value="${item.id}">
						<button>削除</button>
					</form>
				</td>
			</tr>
			<tr>
				<td align="right" colspan="5" th:text="'合計額：'+${@cart.totalPrice}+'円'"></td>
			</tr>
		</table>
		<!--ここから片山の遊び場-->
		<div class="btn-wrap">
			<a href="/items" class="btn btn-c"><span>5000円以上で送料無料</span><br>購入を続ける<i
					class="fas fa-angle-double-right"></i></a>
		</div>
		<!--ここまで片山の遊び場-->

		<!--
    <form action="/items" method="get">
    <button>購入を続ける</button>
    </form>-->
		<form action="/order" method="get">
			<button>代金引き換えで購入</button>
		</form>
		<form action="/credit" method="get">
			<button>クレジットカードで購入</button>
		</form>
	</main>
	<footer th:replace="footer"></footer>
</body>

</html>