<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>機能一覧</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="icon" href="/css/favicon.ico">
	<style>
		.front {
			z-index: 1;
		}
	</style>
</head>

<body>
	<header th:replace="header"></header>
	<main>
		<h1>機能一覧</h1>
		<a href="/items" class="btn-menu"><span class="front">教科書一覧</span></a>
		<a href="/cart" class="btn-menu"><span class="front">カート画面表示</span></a>
		<a href="/history" class="btn-menu"><span class="front">購入履歴</span></a>
		<a href="/account/form" class="btn-menu"><span class="front">会員情報確認</span></a>
	</main>
	<br>
	<footer th:replace="footer"></footer>

	<a class="pagetop" href="#">
		<div class="pagetop__arrow"></div>
	</a>

</body>

</html>