<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>購入履歴</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header>
        <h1><a href="">教科書販売サイト</a></h1>
        <p>片山大樹さんがログイン中</p>
    </header>
    <main>
    <h1>購入履歴</h1>
    <table border="1">
        <tr>
            <th>購入履歴一覧</th>
            <th>お届け状態</th>
        </tr>
        <tr>
            <td>心理学論</td>
            <td>お届け済み</td>
        </tr>
    </table>
</main>
</body>
</html>