<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>購入履歴</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header th:replace="header"></header>
    <main>
    <h1>購入履歴</h1>
    <table>
        <tr>
            <th colspan="2">お届け済み</th>
        </tr>
        <tr>
            <th>注文日：</th>
            <td>2024.06.05</td>
        </tr>
        <tr>
            <th>注文番号：</th>
            <td>123456789</td>
        </tr>
        <table>
			<tr>
				<th>教科書ID</th>
				<th>数量</th>
			</tr>
			<tr>
				<td>1</td>
				<td>1</td>
			</tr>
		</table>
		<tr>
		<th>支払金額：</th>
		<td>&yen;7000</td>
		</tr>
    </table>
</main>
<footer th:replace="footer"></footer>
</body>
</html>