<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新規会員登録</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <main>
    <h1>新規会員登録</h1>
    <form>
        <table>
            <tr>
                <th>名前</th>
                <td><input type="text"></td>
            </tr>
            <tr>
                <th>学年</th>
                <td>
                    <select size="1" name="">
                    <option value="" selected>1年生</option>
                </td>
            </tr>
            <tr>
                <th>学部</th>
                <td>
                    <select size="1" name="">
                    <option value="" selected>文学部</option>
                </td>
            </tr>
            <tr>
                <th>メールアドレス</th>
                <td><input type="text"></td>
            </tr>
            <tr>
                <th>住所</th>
                <td><textarea></textarea></td>
            </tr>
            <tr>
                <th>パスワード</th>
                <td><input type="text"></td>
            </tr>
        </table>
        <button>登録</button>
    </form>
</main>
</body>
</html>