<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>新規会員登録</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<main>
		<h1>新規会員登録</h1>
		<form action="/account/add" method="post">
			<div th:if="${errorList}" class="error" th:each="error:${errorList}" th:text="${error}" style="color: red"></div>
			<table>
				<tr>
					<th>名前</th>
					<td><input type="text" name="name" placeholder="名前" th:value="${name}"></td>
				</tr>
				<tr>
					<th>学年</th>
					<td>
						<select size="1" name="grade">
							<option value="1">1年生</option>
							<option value="2">2年生</option>
							<option value="3">3年生</option>
							<option value="4">4年生</option>
					</td>
				</tr>
				<tr>
					<th>学部</th>
					<td>
						<input type="text" name="department" placeholder="学部名" th:value="${department}">
					</td>
				</tr>
				<tr>
					<th>メールアドレス</th>
					<td><input type="text" name="email" placeholder="メールアドレス" th:value="${email}"></td>
				</tr>
				<tr>
					<th>住所</th>
					<td><input type="text" name="address" placeholder="住所" th:value="${address}"></td>
				</tr>
				<tr>
					<th>パスワード</th>
					<td><input type="text" name="password" placeholder="パスワード"></td>
				</tr>
			</table>
			<button>登録</button>
		</form>
		<div class="link">
			<a href="/login">会員登録をやめる</a>
		</div>
	</main>
</body>

</html>