<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ログイン</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<main>
		<h1>ログイン</h1>
		<form action="/login" method="post">
			<table>
				<tr>
					<th>メールアドレス</th>
					<td>
						<input type="text" name="email" placeholder="メールアドレス">
					</td>
				</tr>
				<tr>
					<th>パスワード</th>
					<td>
						<input type="text" name="password" placeholder="パスワード">
					</td>
				</tr>
			</table>
			<button>ログイン</button>
			<br> <span th:text="${message}" style="color: red"></span>
			<p></p>
			<div class="link">
			<a href="/account">新規会員登録はこちら</a>
			</div>
		</form>
	</main>
</body>
<footer>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3856.9316420
	76309!2d139.7179146578839!3d35.6208234249492!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1
	!3m3!1m2!1s0x60188aef7b8c4c13%3A0x46ee63c7257281d4!2z5qCq5
	byP5Lya56S-44K344K544OG44Og44K6!5e0!3m2!1sja!2sjp!4v1717565121465!5m2!1sja!2sjp"
	 width="250" height="200" style="border:0;" allowfullscreen="" loading="lazy" 
	 referrerpolicy="no-referrer-when-downgrade">
	</iframe><br>
	<small>&copy; Kaihatsu University</small>
</footer>

</html>