<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <main>
    <h1>ログイン</h1>
    <form action="/function" method="get">
        <table>
            <tr>
                <th>メールアドレス</th>
                <td>
                    <input type="text" name = "name" placeholder="メールアドレス">
                </td>
            </tr>
            <tr>
                <th>パスワード</th>
                <td>
                    <input type="text" name = "password" placeholder="パスワード">
                </td>
                </tr>
        </table>
    <button>ログイン</button>
    <p></p>
    <a href="/account">新規会員登録はこちら</a>
    </form>
</main>
</body>
</html>