<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>会員登録完了</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<header>
		<h1>会員登録完了</h1>
	</header>
	<main>
		<p>以下の内容で登録しました</p>

		<div style="width: 380px;
  height: 200%;
  background-color: rgb(103, 213, 91);
  border-radius: 10px;">
			<span>Kyoukasho Selling University</span><br>
			<span>MEMBER'S CARD CO-OP</span><br>
			<span>組合員No.[[${id}]]</span><br>
			<span>氏名：[[${name}]]</span><br>
			<span>学年：[[${grade}]]</span><br>
			<span>学部：[[${department}]]</span><br>
			<span>メールアドレス：[[${email}]]</span><br>
			<span>住所：[[${address}]]</span><br>
		</div>
<!--
		<table border="1">
			<tr>
				<th>名前</th>
				<th>学年</th>
				<th>学部</th>
				<th>メールアドレス</th>
				<th>住所</th>
			</tr>
			<tr>
				<td th:text="${name}"></td>
				<td th:text="${grade}"></td>
				<td th:text="${department}"></td>
				<td th:text="${email}"></td>
				<td th:text="${address}"></td>
			</tr>
		</table>
-->
		<a href="/login">ログインページへ</a>
	</main>
</body>

</html>