<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ポイント確認</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<header th:replace="header"></header>
	<main>
		<h1>ポイント確認</h1>
		
		<h3>あなたの保有ポイントは
			<span th:text="${account.point}" style="font-size: 45px; color: rgb(162, 130, 0);"></span>
			pt(円)です</h3>

		<form action="/account/edit" method="post">
			
		<div class="link">
			<a href="/account/form">会員情報確認に戻る</a>
		</div>

	</main>
	<footer th:replace="footerBigFoot"></footer>
</body>

</html>