<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>購入確認</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header>
        <h1><a href="">教科書販売サイト</a></h1>
        <p>片山大樹さんがログイン中</p>
    </header>
    <main>
    <h1>購入確認</h1>
    <p>以下の内容でよろしいでしょうか</p>
    <table border="1">
        <tr>
            <th>教科書名</th>
            <th>価格</th>
            <th>数量</th>
        </tr>
        <tr>
            <td>心理学論</td>
            <td>7000</td>
            <td>1</td>
        </tr>
        <tr>
            <td align="right" colspan="5" >合計額:7000</td>
        </tr>
    </table>
    <a href="">前画面に戻る</a><br>
    <button>注文を確定する</button>
</main>
</body>
</html>