<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>購入確定</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header>
        <h1><a href="">教科書販売サイト</a></h1>
        <p>片山大樹さんがログイン中</p>
    </header>
    <main>
    <h1>購入完了</h1>
    <p>お支払い金額：7000円</p>
    <p>内容確認メールを設定されたメールアドレスに送信しました</p>
    <p>※注文後24時間以内はキャンセル、ご変更いただけます。<br>
    ※返品の場合、未開封7日以内で返品可能です。<br>
    ※送料は自己負担となります。</p>
</main>
</body>
</html>