<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>教科書一覧</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="icon" href="/css/favicon.ico">
</head>
<!--z-indexを入れると矢印が出る-->
<style>
	.front {
		z-index: 1;
	}
</style>
<body>
	<header th:replace="header"></header>
	<main>
		<h1>教科書一覧</h1>
		<a href="/items" class="btn-menu"><span class="front">教科書一覧表示</span></a>
		<a href="/cart" class="btn-menu"><span class="front">カートの中身を見る</span></a>
		<form action="/items" method="get">
			<input type="text" name="keyword" placeholder="教科書名" th:value="${keyword}">
			|
			<input type="text" name="lecture" placeholder="講義名" th:value="${lecture}">
			|
			<input type="text" name="professor" placeholder="講師名" th:value="${professor}">
			<button>検索</button>
		</form>

		 <p th:if="${keyword != '' || lecture != '' || professor != '' && itemCount > 0}"
            th:text="'検索結果：' + ${itemCount} + '件'"></p>
        <p th:if="${itemCount == 0}">検索結果はありません</p>
		<table border="1" class="table table-bordered">
			<tr>
				<th>教科書ID</th>
				<th>教科書名</th>
				<th>講義名</th>
				<th>講師名</th>
				<th>価格</th>
				<th>在庫</th>
				<th>購入</th>
			</tr>
			<tr th:each="item:${itemListBrows}">
				<td th:text="${item.id}"></td>
				<td th:text="${item.name}"></td>
				<td th:text="${item.lecture}"></td>
				<td th:text="${item.professor}"></td>
				<td th:text="${item.price}"></td>
				<td th:text="${item.stock}"></td>
				<td>
					<div th:if="${item.stock} > 0">
						<form action="/cart/add" method="post">
							<input type="hidden" name="itemId" th:value="${item.id}">
							<input type="hidden" name="stock" th:value="${item.stock}">
							<button>カートに追加</button>
						</form>
					</div>

					<div th:if="${item.stock} <= 0">
						<button style="background-color: gray;">在庫がありません</button>
					</div>
				</td>
			</tr>
		</table>

	</main>
	<footer th:replace="footerBigFoot"></footer>
	<a class="pagetop" href="#">
		<div class="pagetop__arrow"></div>
	</a>
</body>

</html>