<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>教科書一覧</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header>
        <h1><a href="">教科書販売サイト</a></h1>
        <p>片山大樹さんがログイン中</p>
    </header>
    <main>
    <h1>教科書一覧</h1>
    <input type="text" placeholder="教科書名"> 
    <input type="text" placeholder="講師名"> 
    <input type="text" placeholder="講義名"> 
    <button>検索</button><br>
    <a href="">カートの中身を見る</a>
    <table border="1">
        <tr>
            <th>教科書名</th>
            <th>講師名</th>
            <th>講義名</th>
            <th>価格</th>
            <th>購入</th>
            
        </tr>
        <tr>
            <td>心理学論</td>
            <td>植竹星哉</td>
            <td>心理学Ⅱ</td>
            <td>7000</td>
            <td>
                <button>カートに追加</button>
            </td>
        </tr>
    </table>
</main>
</body>
</html>